{% extends "business/business.html" %}

{% load static %}

{% block content %}

<section style="width:100%;">						
    <div class="row mb-4">
        <header class="mb-4"><b><h2 class="tm-text-shadow"><img src="{%static 'business/img/Logo.png' %}" width="100" alt="Image">Administración</h2></b></header>	
    </div>
    {% if permiso == 1 %}
        <div class="row">
            {% if permisos.moduloAD1 == 1%}

                <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
                    <div class="media tm-bg-transparent-black tm-border-white">
                        <div class="media-body" style="text-align: center;">
                            <h3>Administración</h3>
                            <a href="#" class="btn tm-btn-submit tm-btn ml-auto" style="width:30%;">&#10145;</a>	
                        </div>
                    </div>
                </div>

            {% endif %}
            {% if permisos.moduloAD2 == 1%}

                <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
                    <div class="media tm-bg-transparent-black tm-border-white">
                        <div class="media-body" style="text-align: center;">
                            <h3>Recursos Humanos</h3>
                            <a href="#" class="btn tm-btn-submit tm-btn ml-auto" style="width:30%;">&#10145;</a>	
                        </div>
                    </div>
                </div>

            {% endif %}
            {% if permisos.moduloAD3 == 1%}

                <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
                    <div class="media tm-bg-transparent-black tm-border-white">
                        <div class="media-body" style="text-align: center;">
                            <h3>Contabilidad</h3>
                            <a href="{% url 'admin_periodos' %}" class="btn tm-btn-submit tm-btn ml-auto" style="width:30%;">&#10145;</a>	
                        </div>
                    </div>
                </div>
                
            {% endif %}
        </div>
    
    {% else %}
        
        <div>
            <h4>No tiene permisos para acceder al área Administrativa.</h4>
        </div>

    {% endif %}
</section>



{% endblock %}