
{% extends "business/business.html" %}

{% load static %}

{% block content %}

<section>						
    <div class="row mb-4">
        <header class="mb-4"><b><h2 class="tm-text-shadow"  style="width:100%;"><img src="{%static 'business/img/Logo.png' %}" width="100" alt="Image">Zetone App.</h2></b></header>	
    </div>
    <div>
        <div class="media tm-bg-transparent-black tm-border-white">
            <div class="media-body" style="text-align: center;">
                <h3>Ingresar</h3>
                <form action="" method="GET">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="user" name="user" class="form-control" placeholder="User" required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn tm-btn-submit tm-btn ml-auto" style="width:100%;">Entrar</button>
                    </div>
                </form>		
            </div>
        </div>          		
    </div>
</section>

{% endblock %}