{% extends "ps/index.html" %}

{% load static %}

{% block content %}

<section >
    <div class="ml-auto">
        <header class="mb-4"><h1 class="tm-text-shadow">Proneutronxs<img src="{%static 'ps/img/psfinal.png' %}" width="120" alt="Image"></h1></header>
        <p class="mb-5 tm-font-big">Su Mensaje se envío correctamente!</p>
        <p class="mb-5 tm-font-big">Pronto tendrá noticias mías, Muchas Gracias!</p>
        <a href="{% url 'index' %}" class="btn tm-btn-submit tm-btn ml-auto">Volver</a>
    </div>
</section>
<footer class="footer-link">
    <p class="tm-copyright-text">Free Template - 2022 Josué Chambí 
    - Proneutronxs</p>
</footer>


{% endblock %}