{% extends "business/business.html" %}

{% load static %}

{% block content %}

<section style="width:100%;">						
    <div class="row mb-4">
        <header class="mb-4"><b><h2 class="tm-text-shadow"><img src="{%static 'business/img/Logo.png' %}" width="100" alt="Image">Sistemas</h2></b></header>	
    </div>
        <div class="row">
            
                <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
                    <div class="media tm-bg-transparent-black tm-border-white">
                        <div class="media-body" style="text-align: center;">
                            <h3>Nuevo Usuario</h3>
                            <a href="{% url 'newuser' %}" class="btn tm-btn-submit tm-btn ml-auto" style="width:30%;">&#10145;</a>	
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
                    <div class="media tm-bg-transparent-black tm-border-white">
                        <div class="media-body" style="text-align: center;">
                            <h3>Permisos</h3>
                            <a href="#" class="btn tm-btn-submit tm-btn ml-auto" style="width:30%;">&#10145;</a>	
                        </div>
                    </div>
                </div>
                
        </div>
</section>

{% endblock %}